{% extends "base.html" %}
{% block title %}Service{% endblock %}
{% block content %}


  <main class="main">

    <!-- Page Title -->
    <div style="background: linear-gradient(to right, #ff9800, #ff5722);" class="page-title" data-aos="fade">

      <div class="heading">
        <div class="container">
          <div class="row d-flex justify-content-center text-center">
            <div class="col-lg-8">
              <h1>Service Details</h1>
              <p style="color: black" class="mb-0">Tailored digital marketing solutions designed to elevate your brand. From SEO and content marketing to web design and strategy, we create impactful experiences that drive growth and engagement.</p>
            </div>
          </div>
        </div>
      </div>
      <nav class="breadcrumbs">
        <div class="container">
          <ol>
            <li><a href="{% url 'index' %}">Home</a></li>
            <li class="current">Service Details</li>
          </ol>
        </div>
      </nav>
    </div><!-- End Page Title -->

    <!-- Service Details Section -->
    <section id="service-details" class="service-details section">

      <div class="container">

        <div class="row gy-5">

          <div class="col-lg-4" data-aos="fade-up" data-aos-delay="100">

            <div class="service-box">
              <h4>Serices List</h4>
              <div class="services-list">
                <a href="#" class="active"><i class="bi bi-arrow-right-circle"></i><span>Web Design</span></a>
                <a href="#"><i class="bi bi-arrow-right-circle"></i><span>Web Design</span></a>
                <a href="#"><i class="bi bi-arrow-right-circle"></i><span>Product Management</span></a>
                <a href="#"><i class="bi bi-arrow-right-circle"></i><span>Graphic Design</span></a>
                <a href="#"><i class="bi bi-arrow-right-circle"></i><span>Marketing</span></a>
              </div>
            </div><!-- End Services List -->

            <div class="service-box">
              <h4>Download Catalog</h4>
              <div class="download-catalog">
                <a href="#"><i class="bi bi-filetype-pdf"></i><span>Catalog PDF</span></a>
                <a href="#"><i class="bi bi-file-earmark-word"></i><span>Catalog DOC</span></a>
              </div>
            </div><!-- End Services List -->

            <div class="help-box d-flex flex-column justify-content-center align-items-center">
              <i class="bi bi-headset help-icon"></i>
              <h4>Have a Question?</h4>
              <p class="d-flex align-items-center mt-2 mb-0"><i class="bi bi-telephone me-2"></i> <span>+254 7111 114</span></p>
              <p class="d-flex align-items-center mt-1 mb-0"><i class="bi bi-envelope me-2"></i> <a href="mailto:contact@example.com">contact@example.com</a></p>
            </div>

          </div>

          <div class="col-lg-8 ps-lg-5" data-aos="fade-up" data-aos-delay="200">
            <img src="../../static/assets/img/services.jpg" alt="" class="img-fluid services-img">
            <h3>Innovative Solutions to Elevate Your Brand's Success</h3>
            <p style="color: black" >
We create impactful digital strategies that drive growth and engagement. From web design and SEO to content marketing, our expertise helps businesses thrive in the ever-evolving online landscape.            </p>
            <ul>
              <li><i class="bi bi-check-circle"></i> <span> Comprehensive Digital Strategies </span></li>
              <li><i class="bi bi-check-circle"></i> <span>Data-Driven Marketing</span></li>
              <li><i class="bi bi-check-circle"></i> <span> Seamless Web Solutions</span></li>
            </ul>
           <p style="color: black">
   Experience the finest in digital innovation. Our expertise transforms challenges into opportunities, ensuring seamless solutions tailored to your needs.
</p>
<p style="color: black">
   We craft unique digital experiences that drive engagement and elevate brands. Our commitment to excellence ensures every project is handled with precision, from strategy to execution. Whether it's web design, content marketing, or SEO, we harness the latest trends and technologies to create lasting impacts. Let’s build something remarkable together.
</p>

          </div>

        </div>

      </div>

    </section><!-- /Service Details Section -->

  </main>


  <footer id="footer" class="footer dark-background">

    <div class="footer-top">
      <div class="container">
        <div class="row gy-4">
          <div class="col-lg-4 col-md-6 footer-about">
            <a href="index.html" class="logo d-flex align-items-center">
              <span class="sitename">GP</span>
            </a>
            <div class="footer-contact pt-3">
              <p>Kencom House</p>
              <p>10th Floor</p>
              <p class="mt-3"><strong>Phone:</strong> <span>+254 7111 114</span></p>
              <p><strong>Email:</strong> <span>gp@gmail.com</span></p>
<!--                           <button onclick="window.open('https://chatbot.hellotars.com/conv/4oxK1r', '_blank')">Chat with Us</button>-->

            </div>
           <div class="social-links d-flex mt-4">
  <a href="https://x.com/Edu_Tush001?s=08"
     style="display: inline-block; font-size: 20px; color: #555; background: #f1f1f1; padding: 10px; border-radius: 50%; transition: all 0.3s ease-in-out; margin-right: 10px;">
    <i class="bi bi-twitter-x"></i>
  </a>

  <a href="https://www.facebook.com/profile.php?id=61573095604873&mibextid=rS40aB7S9Ucbxw6v"
     style="display: inline-block; font-size: 20px; color: #555; background: #f1f1f1; padding: 10px; border-radius: 50%; transition: all 0.3s ease-in-out; margin-right: 10px;">
    <i class="bi bi-facebook"></i>
  </a>

  <a href="https://www.instagram.com/_zoxo_99/"
     style="display: inline-block; font-size: 20px; color: #555; background: #f1f1f1; padding: 10px; border-radius: 50%; transition: all 0.3s ease-in-out; margin-right: 10px;">
    <i class="bi bi-instagram"></i>
  </a>

  <a href="YOUR_LINKEDIN_URL"
     style="display: inline-block; font-size: 20px; color: #555; background: #f1f1f1; padding: 10px; border-radius: 50%; transition: all 0.3s ease-in-out; margin-right: 10px;">
    <i class="bi bi-linkedin"></i>
  </a>
             <div>
</div>

</div>

          </div>

          <div class="col-lg-2 col-md-3 footer-links">
            <h4>Useful Links</h4>
            <ul>
              <li><i class="bi bi-chevron-right"></i> <a href="#"> Home</a></li>
              <li><i class="bi bi-chevron-right"></i> <a href="#"> About us</a></li>
              <li><i class="bi bi-chevron-right"></i> <a href="#"> Services</a></li>
              <li><i class="bi bi-chevron-right"></i> <a href="#"> Terms of service</a></li>
              <li><i class="bi bi-chevron-right"></i> <a href="#"> Privacy policy</a></li>
            </ul>
          </div>

          <div class="col-lg-2 col-md-3 footer-links">
            <h4>Our Services</h4>
            <ul>
              <li><i class="bi bi-chevron-right"></i> <a href="#"> Web Design</a></li>
              <li><i class="bi bi-chevron-right"></i> <a href="#"> Web Development</a></li>
              <li><i class="bi bi-chevron-right"></i> <a href="#"> Product Management</a></li>
              <li><i class="bi bi-chevron-right"></i> <a href="#"> Marketing</a></li>
              <li><i class="bi bi-chevron-right"></i> <a href="#"> Graphic Design</a></li>
            </ul>
          </div>

          <div class="col-lg-4 col-md-12 footer-newsletter">
            <h2>Subscribe to Our Newsletter</h2>

<form method="POST">
    {% csrf_token %}
    <label for="email">Email:</label>
    {{ form.email }}
    <button type="submit">Subscribe</button>
</form>

{% if messages %}
    {% for message in messages %}
        <p>{{ message }}</p>
    {% endfor %}
{% endif %}


<!--            <h4>Our Newsletter</h4>-->
<!--            <p>Subscribe to our newsletter and receive the latest news about our products and services!</p>-->
<!--            <form action="forms/newsletter.php" method="post" class="php-email-form">-->
<!--              {% csrf_token %}-->
<!--              <div class="newsletter-form"><input type="email" name="email"><input type="submit" value="Subscribe"></div>-->
<!--              <div class="loading">Loading</div>-->
<!--              <div class="error-message"></div>-->
<!--              <div class="sent-message">Your subscription request has been sent. Thank you!</div>-->
<!--            </form>-->
          </div>

        </div>
      </div>
    </div>

    <div class="copyright">
      <div class="container text-center">
        <p>© <span>Copyright</span> <strong class="px-1 sitename">GP</strong> <span>All Rights Reserved</span></p>
        <div class="credits">

        </div>
      </div>
    </div>

  </footer>
  <!-- Scroll Top -->
  <a href="#" id="scroll-top" class="scroll-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>

  <!-- Preloader -->
  <div id="preloader"></div>

  <!-- Vendor JS Files -->
  {% endblock %}