{% extends "base.html" %}

{% block content %}
  <div class="row" style="margin: ">
      <div class="col-md-4"></div>
      <div class="col-md-4">
          <h1>Log In</h1>
  {% if form.errors %}
    <p style="color: red;">Your username and password didn't match. Please try again.</p>
  {% endif %}
  <form method="POST">
      {% csrf_token %}
      <p>
          <label for="id_username">Username:</label>
          <input type="text" name="username" id="id_username" required>
      </p>
      <p>
          <label for="id_password">Password:</label>
          <input type="password" name="password" id="id_password" required>
      </p>
      <button type="submit">Log In</button>
  </form>
  <p>Don't have an account? <a href="{% url 'signup' %}">Sign up here</a>.</p>
      </div>
      <div class="col-md-4"></div>
  </div>
{% endblock %}
